/* Works section with images carousel  */

#works {
    padding: 5% 7% 10%;
    background-color: #e2e2e2;
    color: #333333;
}

.work {
    padding: 5% 0;
}

.content-works h3.work-title {
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke: 1px #333333;
    font-weight: 700;
    letter-spacing: -1px;
}

.content-works .intro {
    color: #dc1435;
}

.content-works .intro::before {
    background: #000000;
}

h3.work-title > span {
    -webkit-text-stroke: 1px #dc1435;
}

.content-col {
    padding: 2rem 4rem 2rem 1rem;
    line-height: 1.5;
    text-align: start;
}

.content-col h5 {
    letter-spacing: 1px;
}

.content-col h5 > span {
    color: #dc1435;
}

/* Photos section with modal */

.show-work {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.show-work-text-dark,
.show-work-text-light {
    padding-left: 0;
    padding-right: 0;
}

.show-work-text-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.show-work-text-dark div {
    padding: 2rem 1rem 1rem 1rem;
}

.show-work-text-light {
    background-color: #dc1435;
    color: #ffffff;
    
}

.text-desc {
    width: 100%;
    padding: 1.5rem 2.5rem;
}

.show-work-text-dark h3 {
    color: #dc1435;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.show-work-img {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    position: relative;
}

.show-work-img img {
    width: 100%;
    height: 100%;
}

.show-work-img::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #000000;
    opacity: 0;
    transition: all 0.5s ease-in-out; 
}

.show-work-img:hover::before {
    opacity: 0.5;
}

.show-work-img:hover .icon-plus-square {
    opacity: 1;
}

/* Modal */

.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: #000000;
    width: 100%;
    height: 100%; 
    overflow-x: hidden;
    overflow-y: hidden; /*this is being changed by javascript for zoom in and zoom out */
    text-align: center;
    padding: 2rem;
}

.modal-image {
    height: 100%;
    transition: all .7s ease;
    opacity: 0;
    transform: scale(1.9);
    animation: zoom-image .7s ease;
    cursor: zoom-in;
}

.modal-img-visible {
    opacity: 1;
    transform: scale(1);
}

@keyframes zoom-image {
    0% {
        opacity: 0;
        transform: scale(1.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.close-x {
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 55px;
    color: #ffffff;
    font-size: 3.5rem;
    transition: 0.3s;
    font-weight: 200;
    z-index: 210;
}

.close-x:hover {
    color: #dc1435;
}

/* Responsiveness tablet and mobile  */

@media only screen and (max-width: 1200px) {
    .content-works h3.work-title {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1030px) {
    .content-works h3.work-title {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    .content-col {
        padding: 1rem;
    }

    .modal-wrapper {
       padding: 0;
    }
}

@media only screen and (max-width: 800px) {
    .content-col h5 {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 500px) {
    .show-work-text-light p  {
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 350px) {
    .content-works h3.work-title {
        font-size: 1.5rem;
    }

    .text-desc{
        padding: 1rem;
    }
}


