.section-footer {
    background: #000;
    padding: 7% 10%;
    color: #ffffff;
    font-size: 12px;
}

.section-footer h6 {
    color: #dc1435;
    letter-spacing: 3px;
}

.section-footer p {
    margin-bottom: 5px;
}

.footer-logo {
    color:#dc1435;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.footer-logo:hover, .footer-logo:active, .i-footer i:hover {
    color: #dc1435;
}

.i-footer i {
    color: #ffffff;
    font-size: 1.5rem;
    transition: all .5s ease;
}

.section-footer li {
    margin-right: 1.5rem;
}

.copyright {
    margin-top: 0.5rem;
}

/* Responsiveness tablet and mobile  */

@media only screen and (max-width: 750px) {
    .section-footer {
        padding: 5% 10%;
    }

    .section-footer .col-sm-12 {
        margin-bottom: 1rem;
    }
}